$navbar-default-bg: #F4F4F4;
$charcoal: #383838;
$silk: #DDD1C1;
$gold: #C0B283;
$paper: #F4F4F4;

.navbar {
  margin-bottom:0 !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  background-color:$gold;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align:center;
}

.jumbotron {
  height:600px;
  background:
    asset_url('beautiful-mist-wallpaper-hd-64.jpg');
    background-size:cover;
    .btn-xlarge{
      font-size: 1.7em;
      background-color: $gold;
      border-color:$gold;
      &:hover {
        background-color:$charcoal;
      }
    }
    h1{
      color: $charcoal;
      text-align:center;
      margin-bottom: 30px;
      letter-spacing: 3px;
    }
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top:15px;
}

.article-actions {
  border-top: 1px solid $silk;
  padding-top:5px;
}
.description {
  margin-top: 0;
}
.article-title {
  font-weight: bold;
  font-size:1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.message-style {
  position:absolute;
  z-index: 10;
  width:100%;
  opacity: 0.7;
}

.footer {
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid white;
  background-color: $silk;
  a{
    &:hover {
      color: $gold;
      text-decoration:none;
    }
  }
  small {
    float:left;
  }
  ul {
    float:right;
    list-style:none;
    li {
      float:left;
      margin-left:15px;
    }
  }
}

.badge {
  background-color: $silk;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight:bold;
  a{
    color:white;
    text-align:center;
    &:hover {
      text-decoration:none;

    }
  }
}

.buttonstyle {
  background-color: $gold !important;
  border-color:$gold !important;
  &:hover {
    background-color:$charcoal !important;
  }
}

.panel-color {
  background-color: $silk;
}



@import "bootstrap-sprockets";
@import "bootstrap";
